on:
    push:
      branches:
        - main
    pull_request:
    workflow_dispatch:

jobs:

  build:
    strategy:
      matrix:
        # Also build on Windows since there have been some windows-specific
        # problems in the past.
        os: ["ubuntu-latest", "windows-latest"]
        profile: ["light-tasking", "embedded"]
        target: ["rp2040", "rp2350"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - uses: alire-project/setup-alire@v4
        with:
          version: 2.1.0
          toolchain: 'gnat_arm_elf gprbuild'

      - name: Generate Runtimes
        shell: bash
        run: ./generate-all.sh

      # Use the validation build profile to enforce static analysis and coding style.
      - name: Build Runtime
        run: |
          cd install/${{ matrix.profile }}-${{ matrix.target }}
          alr build
